.example-container {
  box-shadow: none;
  height: auto;
  width: 100%;
  overflow: auto;
}

ion-button {
  float: right;
}
// common width for all columns
[class*='mat-column-'] {
  min-width: 150px !important;
}

.mat-column-sr_no {
  flex: 0 0 5% !important;
  min-width: 10px !important;
}
