.sc-ion-card-md-h {
  min-height: 90vh;
}

.footer {
  font-weight: bold;
}

.date-filter-text {
  font-size: 0.7rem;
}

.right-padding {
  padding-right: 1em;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: green;
}

.right-aligned {
  text-align: end;
}

::ng-deep .mat-column-total > .mat-sort-header-container {
  justify-content: center;
}

::ng-deep .mat-column-due_amount > .mat-sort-header-container {
  justify-content: center;
}
